<po-page-default p-title="TOTVS | Aprovação de Documentos">

  <div class="po-row">
    <po-input
      class="po-md-4 po-offset-md-8"
      p-label="Pesquisar Fornecedor ou Doc."
      p-icon="po-icon-search"
      p-clean
      (p-change-model)="filterAction($event)">
    </po-input>
  </div>

  <po-table
    [p-loading]="loading"
    [p-columns]="columns"
    [p-items]="filteredItems"
    [p-actions]="actions"
    p-actions-right="true">
  </po-table>

  <po-modal #justifModal p-title="Justificativa da Rejeição">
    <div class="po-row">
      <po-info class="po-md-12" p-label="Documento" [p-value]="selectedRow?.CR_NUM ?? ''"></po-info>
      
      <po-textarea
        class="po-md-12"
        name="justifDetail"
        [(ngModel)]="justifDetail"
        p-label="Motivo da Reprovação"
        p-help="Explique o porquê este documento não foi aceito"
        [p-rows]="4">
      </po-textarea>
    </div>
  
    <po-modal-footer>
      <po-button p-label="Cancelar" (p-click)="justifModal.close()"></po-button>
      <po-button p-label="Confirmar Rejeição" p-kind="danger" (p-click)="confirmReject()"></po-button>
    </po-modal-footer>
  </po-modal>

</po-page-default>