<po-page-default p-title="TOTVS | Aprovação de Documentos">

  <div class="po-row">
    <po-input
      class="po-md-4 po-offset-md-8"
      p-label="Pesquisar Fornecedor ou Doc."
      p-icon="po-icon-search"
      p-clean
      (p-change-model)="filterAction($event)">
    </po-input>
  </div>

  <po-table
    [p-loading]="loading"
    [p-columns]="columns"
    [p-items]="filteredItems"
    [p-actions]="actions"
    p-actions-right="true">
  </po-table>

  <po-modal #confirmModal 
    p-title="Confirmar Aprovação" 
    [p-primary-action]="confirmAction"
    [p-secondary-action]="closeAction">
    
    <div class="po-row">
      <po-info class="po-md-12" p-label="Nº Documento" [p-value]="selectedRow?.CR_NUM ?? ''"></po-info>
      <po-info class="po-md-12" p-label="Fornecedor" [p-value]="selectedRow?.CR_FORNECE ?? ''"></po-info>
      <po-info class="po-md-12" p-label="Valor do Título" [p-value]="(selectedRow?.CR_TOTAL | currency:'BRL') ?? ''"></po-info>
      <po-info class="po-md-12" p-label="Filial Origem" [p-value]="selectedRow?.CR_FILIAL ?? ''"></po-info>
    </div>
    
  </po-modal>

</po-page-default>